.main {
    padding: 25px 100px 50px 100px;
    width: calc(100% - 320px);
    margin-left: 320px;
    @include sm-up {
        top: 0;
    }

    @include lg {
        padding: 0 40px;
    }

    @include md {
        padding: 0 25px;
        margin-left: 0;
        width: 100%;
    }

    @include sm {
        padding: 0 15px;
        padding-bottom: 15px;
    }
}

.main__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
    @include lg {
        margin-top: 30px;
    }
}

.main-title-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}